<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.luboganev.handdrawn.shared"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        tools:replace="android:icon"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_shared_launcher">

    </application>

</manifest>
